In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
def prep_echo(path, outname):
    #data = pd.read_csv('echosoundertest.txt',sep=" ",header = None)
    df = pd.read_fwf(path)
    # Add 0 in front of numbers that are less than 10
    df['MO'] = df['MO'].apply(lambda x: str(x) if x > 9 else str(x).zfill(2))
    # Create dataid to match sensors, set as index
    df['dataid']=df['YEAR'].astype(str)+'-'+df['MO']+'-'+df['DA'].astype(str)+'T'+df['UTC']
    df.set_index('dataid')
    # Cast to datetime, round to nearest half hour
    df.dataid = pd.to_datetime(df.dataid, format='%Y-%m-%d %H:%M:%S')
    df.dataid = df['dataid'].dt.round('30min') 
    # Drop unnecessary columns
    df = df.drop(['BDMIN', 'BDMAX', 'OBJECT', 'UPINLM', 'PDMIN', 'PDMAX', 'LOG1', 'LOG2', 'CH', 'YEAR', 'MO', 'DA', 'UTC', 'Me/Pl' ], axis=1)
    df.to_csv(f'{outname}.csv', index=False)
    return df

In [3]:
df = prep_echo('leg2_data.txt', 'leg2_echo_prepped')

In [ ]:
def iden (row):
    month = str(row[1]) if row[1] > 9 else '0'+str(row[1])
    day = str(row[2]) if row[2] > 9 else '0'+str(row[2])
    
    return str(row[0])+'-'+month+'-'+day+'T'+str(row[3])

In [ ]:
print(arr)

In [4]:
df

        LATITUDE  LONGITUD  PDMEAN    TOTAL              dataid
0       27.20153 -16.88955     7.5   0.0000 2021-10-05 10:00:00
1       27.20153 -16.88955    15.0   4.6863 2021-10-05 10:00:00
2       27.20153 -16.88955    25.0  24.4440 2021-10-05 10:00:00
3       27.20153 -16.88955    35.0  30.9997 2021-10-05 10:00:00
4       27.20153 -16.88955    45.0  33.6487 2021-10-05 10:00:00
...          ...       ...     ...      ...                 ...
203573  22.65403 -85.02448   475.0  54.4916 2021-11-22 15:30:00
203574  22.65403 -85.02448   485.0  25.4085 2021-11-22 15:30:00
203575  22.65403 -85.02448   495.0   7.1735 2021-11-22 15:30:00
203576  22.65403 -85.02448   505.0   0.5738 2021-11-22 15:30:00
203577  22.65403 -85.02448   515.0   0.4317 2021-11-22 15:30:00

[203578 rows x 5 columns]