In [13]:
import pandas as pd
import glob

In [85]:
def get_stops_from_log(path):
    main_df = pd.DataFrame()
    for file in glob.glob(path):
        print(file)
        df = pd.read_csv(file)
        date = df.columns[-1]
        df = df.reset_index()
        df.columns = df.iloc[0]
        df = df.drop(0)
        df = df[['Station type', 'Time', 'Latitude', 'Longitude', 'Comment']]
        df['Date'] = date
        if main_df.empty:
            main_df = df
        else:
            main_df = pd.concat([main_df,df])

    main_df['Date'] = pd.to_datetime(main_df['Date'], dayfirst=True)

In [86]:
leg2_stops = get_stops_from_log("/Users/maritlund/Documents/Skole/Master/leg2_log/ref*.csv")
leg3_stops = get_stops_from_log("/Users/maritlund/Documents/Skole/Master/leg3_log/ref*.csv")
#main_df = pd.concat([leg2_stops, leg3_stops])
#main_df = main_df.sort_values('Date', ascending=True)

/Users/maritlund/Documents/Skole/Master/leg2_log/ref13-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref13-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref21-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref21-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref06-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref06-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref28-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref28-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref31-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref03-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref03-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref16-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref16-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref24-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref24-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref09-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref09-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref27-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref27-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref15-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref15-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref05-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref05-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref19-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref19-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref22-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref22-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref10-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref10-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref30-09-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref25-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref25-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref17-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref17-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref02-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref02-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref30-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref07-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref07-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref29-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref20-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref20-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref12-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref12-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref11-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref11-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref23-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref23-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref18-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref18-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref04-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref04-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref01-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref01-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref14-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref14-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref08-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref08-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref26-10-2021.csv
/Users/maritlund/Documents/Skole/Master/leg2_log/ref26-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref12-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref07-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref28-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref02-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref17-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref27-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref14-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref08-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref01-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref04-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref11-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref16-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref30-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref03-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref29-11-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref06-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref13-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref10-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref05-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref09-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref15-12-2021.csv
/Users/maritlund/Documents/Skole/Master/leg3_log/ref26-11-2021.csv

ValueError: All objects passed were None

In [78]:
main_df = main_df.dropna()
main_df

,Station type,Time,Latitude,Longitude,Comment,date
5,Other,19:13:00,2739.689633 N,01541.583867 W,Vannisotop,2021-10-04
3,Other,18:26:24,2740.544524 N,01538.368087 W,Sj�pattedyr observasjon,2021-10-04
2,Watersample stop,18:06:09,2741.100371 N,01536.289008 W,,2021-10-04
1,Watersample start,15:36:41,2755.779477 N,01520.353045 W,,2021-10-04
10,Other,18:17:35,2631.704137 N,01730.526164 W,Vannisotop,2021-10-05
...,...,...,...,...,...,...
1,Other,00:10:40,2313.939460 N,08423.932259 W,Vannisotop,2021-11-23
9,Other,16:20:07,2313.494657 N,08243.086893 W,Fishing,2021-11-23
3,Other,12:25:52,2311.603142 N,08306.138175 W,Vannisotop,2021-11-23
1,Other,00:06:59,2314.975837 N,08206.482226 W,Vannisotop,2021-11-24
2,Other,12:28:40,2315.200476 N,08223.640156 W,Vannisotop,2021-11-24

In [79]:
stops = main_df[main_df['Station type'].str.upper().str.contains('CTD')]
stops

,Station type,Time,Latitude,Longitude,Comment,date
7,CTD stop,11:59:00,1716.071574 N,02530.691023 W,"secchi, trawl & CTD",2021-10-10
6,CTD start,10:44:25,1716.002079 N,02530.042391 W,"secchi, trawl & CTD",2021-10-10
12,CTD stop,17:13:05,1139.735895 N,03643.672153 W,"CTD, secchi disk and plankton trawl",2021-10-15
11,CTD start,15:46:54,1138.455356 N,03640.459520 W,"CTD, secchi disk and plankton trawl",2021-10-15
7,CTD start,16:09:37,1316.515140 N,05800.337303 W,"ctd, plankton trawl and secchi disk",2021-10-24
8,CTD stop,17:20:16,1318.296266 N,05801.727841 W,"ctd, plankton trawl and secchi disk",2021-10-24
8,CTD start,16:01:55,1310.705234 N,06608.418944 W,CTD and plankton trawl and secchi disk,2021-10-31
9,CTD stop,17:22:19,1310.421319 N,06609.949979 W,CTD and plankton trawl and secchi disk,2021-10-31
12,CTD stop,17:35:00,1227.817531 N,06619.532222 W,,2021-11-01
11,CTD start,16:38:42,1228.118951 N,06618.794772 W,,2021-11-01
12,CTD stop,20:55:47,1313.950132 N,07037.031084 W,"CTD, secchi, plankton trawl + field course mea...",2021-11-09
11,CTD start,18:39:56,1312.457876 N,07032.632949 W,"CTD, secchi, plankton trawl + field course mea...",2021-11-09
11,CTD stop,21:15:15,1435.147920 N,07230.099516 W,only CTD and secchi,2021-11-10
10,CTD start,19:56:18,1434.481712 N,07228.101256 W,only CTD and secchi,2021-11-10
9,CTD stop,21:57:44,1640.717250 N,07603.151331 W,"CTD, plankton, secchi and field course histori...",2021-11-12
8,CTD start,20:37:43,1642.204531 N,07601.370444 W,"CTD, plankton, secchi and field course histori...",2021-11-12
12,CTD stop,20:37:30,1740.138130 N,07750.535911 W,"ctd, secchi, plankton trawl",2021-11-18
11,CTD start,19:43:18,1740.486987 N,07750.836587 W,"ctd, secchi, plankton trawl",2021-11-18

In [90]:
leg3_stops.describe()

AttributeError: 'NoneType' object has no attribute 'describe'