In [2]:
import pandas as pd

In [3]:
colnames_echo=['dataid', 'long', 'lat', 'maxdepth', 'shallow', 'intermediate', 'deep', 'total'] 
df_echo = pd.read_csv('out_echo.csv', names=colnames_echo)
df_sensors = pd.read_csv('out_sensors.csv')

In [4]:
df_echo

                  dataid      long       lat  ...  intermediate      deep      total
0    2021-09-24T20:31:46  32.97595 -16.30862  ...     140.88910    4.3165  1343.9133
1    2021-09-24T20:58:53  32.95997 -16.30616  ...     484.39330   10.5269  1838.7887
2    2021-09-24T21:26:16  32.94445 -16.30271  ...     412.35320   11.7806  1784.0333
3    2021-09-24T21:53:42  32.92920 -16.29935  ...     524.38450   12.8590  1909.7185
4    2021-09-24T22:26:25  32.91458 -16.29561  ...     553.87400   17.6636  1950.0011
..                   ...       ...       ...  ...           ...       ...        ...
156  2021-09-27T07:33:29  30.69806 -16.79325  ...      50.72750   86.5452  2555.1904
157  2021-09-27T07:40:49  30.68182 -16.78871  ...      51.12810  101.4355  2078.3434
158  2021-09-27T07:48:11  30.66563 -16.78412  ...      66.26640  113.4478  2115.0885
159  2021-09-27T07:55:15  30.64936 -16.77965  ...      95.21220  135.4374  2213.5547
160  2021-09-27T08:02:05  30.63343 -16.77384  ...      10.14916  810.6633  1860.3093

[161 rows x 8 columns]

In [5]:
df_sensors

                    dataid  ...  NMEA.Humidity
0      2021-08-20T11:46:00  ...      36.849998
1      2021-08-20T11:47:00  ...      35.642857
2      2021-08-20T11:48:00  ...      36.180000
3      2021-08-20T11:49:00  ...      38.714287
4      2021-08-20T11:51:00  ...      40.933334
...                    ...  ...            ...
28163  2021-10-03T10:27:00  ...      73.266670
28164  2021-10-03T10:28:00  ...      72.949997
28165  2021-10-03T10:29:00  ...      72.183334
28166  2021-10-03T10:30:00  ...      71.949997
28167  2021-10-03T10:31:00  ...      71.699997

[28168 rows x 4 columns]

In [11]:
df_sensors.loc[df_sensors['dataid'].str.contains('2021-09-24T20')]

                    dataid  ...  NMEA.Humidity
19087  2021-09-24T20:45:00  ...      68.583336
19088  2021-09-24T20:46:00  ...      69.400002
19089  2021-09-24T20:47:00  ...      68.199997
19090  2021-09-24T20:48:00  ...      68.383331
19091  2021-09-24T20:49:00  ...      68.828575
19092  2021-09-24T20:50:00  ...      68.940002
19093  2021-09-24T20:51:00  ...      67.883331
19094  2021-09-24T20:52:00  ...      67.199997
19095  2021-09-24T20:53:00  ...      67.239998
19096  2021-09-24T20:54:00  ...      68.250000
19108  2021-09-24T20:23:00  ...      67.216667
19109  2021-09-24T20:24:00  ...      69.116669
19110  2021-09-24T20:25:00  ...      68.199997
19111  2021-09-24T20:26:00  ...      67.480003
19163  2021-09-24T20:00:00  ...      67.483330
19164  2021-09-24T20:01:00  ...      66.616669
19165  2021-09-24T20:02:00  ...      66.860001
19166  2021-09-24T20:03:00  ...      67.800003
19167  2021-09-24T20:04:00  ...      67.066666
19168  2021-09-24T20:05:00  ...      67.250000
19169  2021-09-24T20:07:00  ...      67.485718
19170  2021-09-24T20:08:00  ...      67.833336
19171  2021-09-24T20:09:00  ...      67.680000
19172  2021-09-24T20:10:00  ...      68.357140
19173  2021-09-24T20:11:00  ...      68.916664
19174  2021-09-24T20:12:00  ...      68.483330
19175  2021-09-24T20:13:00  ...      69.233330
19176  2021-09-24T20:14:00  ...      68.416664
19177  2021-09-24T20:15:00  ...      68.040001
19178  2021-09-24T20:16:00  ...      68.383331
19179  2021-09-24T20:17:00  ...      68.150002
19180  2021-09-24T20:18:00  ...      68.414284
19181  2021-09-24T20:19:00  ...      67.983330
19182  2021-09-24T20:20:00  ...      67.599998
19183  2021-09-24T20:21:00  ...      67.433334
19184  2021-09-24T20:22:00  ...      66.866669
19185  2021-09-24T20:27:00  ...      67.233330
19186  2021-09-24T20:28:00  ...      67.166664
19187  2021-09-24T20:29:00  ...      67.514282
19188  2021-09-24T20:30:00  ...      67.099998
19189  2021-09-24T20:32:00  ...      67.860001
19190  2021-09-24T20:33:00  ...      68.216667
19191  2021-09-24T20:34:00  ...      68.150002
19192  2021-09-24T20:35:00  ...      68.316666
19193  2021-09-24T20:36:00  ...      67.771431
19194  2021-09-24T20:37:00  ...      68.660004
19195  2021-09-24T20:38:00  ...      69.566666
19196  2021-09-24T20:39:00  ...      67.716667
19197  2021-09-24T20:40:00  ...      67.571426
19198  2021-09-24T20:41:00  ...      67.883331
19199  2021-09-24T20:42:00  ...      67.480003
19200  2021-09-24T20:43:00  ...      67.783333
19201  2021-09-24T20:44:00  ...      68.416664
19202  2021-09-24T20:58:00  ...      67.133331
19203  2021-09-24T20:59:00  ...      66.849998
19206  2021-09-24T20:55:00  ...      68.233330
19207  2021-09-24T20:56:00  ...      68.750000
19208  2021-09-24T20:57:00  ...      68.099998

[58 rows x 4 columns]